{% if applications %}
<table class="ui celled striped table">
    <thead>
        <tr>
            <th class="single line">Номер</th>
            <th>Организация</th>
            <th>Дата создания</th>
            <th>Заказчик</th>
            <th>Название</th>
            <th>Станция</th>
            <th>Статус</th>
            <th>Комментарии</th>
            <th>Управление</th>
        </tr>
    </thead>
    <tbody>
    {% for application in applications reversed %}
        <tr id="application-row-{{application.id}}">{% include 'include/application_row.html' %}</tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="ui message">Заявок нет</div>
{% endif %}