{% extends 'layout.html' %}
{% block content %}
{{errors}}
<div class="ui text container">
    <form action="" method="post" class="ui form">
        {% csrf_token %}
        <h4 class="ui dividing header">{% if application %}Редактирование заявки{% else %}Новая заявка{% endif %}</h4>
        <div class="field">
            <label>Название</label>
            <input type="text" name="name" {% if application %}value="{{ application.name }}"{% endif %}>
        </div>

        <div class="field">
            <label for="description">Описание</label>
            <textarea name="description">{% if application %}{{ application.description }}{% endif %}</textarea>
        </div>

        <div class="field">
            <label for="author">Автор</label>
            <select name="author" class="ui search dropdown" data-api-action="search users">
                {% if application %}<option value="{{ application.author.id }}" selected>{{ application.author.name }}</option>{% endif %}
            </select>
        </div>

        <div class="field">
            <div class="three fields">
                <div class="field">
                    <label for="time_needed">Необходимое время (часов)</label>
                    <input type="text" name="time_needed" value="{{ application.time_needed }}">
                </div>
                <div class="field">
                    <label for="date_start">Дата начала</label>
                    <div class="ui input left icon datetime">
                        <i class="calendar icon"></i>
                        <input type="text" name="start" placeholder="Дата и время начала" value="{{application.start|date:'d.m.Y H:i' }}"/>
                    </div>
                </div>
                <div class="field">
                    <label for="date_start">Дата конца</label>
                    <div class="ui input left icon datetime">
                        <i class="calendar icon"></i>
                        <input type="text" name="end" value="{{ application.end|date:'d.m.Y H:i' }}" placeholder="Дата и время конца">
                    </div>
                </div>
            </div>
        </div>


        <div class="field">
            <label>Организации</label>
            <select name="organizations" class="ui fluid search dropdown" multiple="" data-api-action="search organizations" data-allow-add>
                {% for organization in application.organizations.all %}
                    <option value="{{ organization.id }}" selected>{{ organization.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="field">
            <label>Методики</label>
            <select name="approaches" class="ui fluid search dropdown" multiple="" data-api-action="search approaches">
                {% for approach in application.approaches.all %}
                    <option value="{{ approach.id }}" selected>{{ approach.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="field">
            <label>Станции</label>
             <select name="station" class="ui fluid search dropdown" multiple="" data-api-action="search stations">
                {% if application.station %}
                 <option value="{{ application.station.id }}" selected>{{ application.station.name }}</option>
                {% endif %}
            </select>
        </div>

        <div class="field">
            <label>Участники</label>
             <select  name="participants" class="ui fluid search dropdown" multiple="" data-api-action="search users">
                 {% for participant in application.participants.all %}
                 <option value="{{ participant.id }}" selected>{{ participant.name }}</option>
                 {% endfor %}
             </select>
        </div>

        <div class="field">
            <label>Вспомогательное оборудование</label>
             <select name="equipment" class="ui fluid search dropdown" multiple="" data-api-action="search equipment" data-allow-add>
                {% for equip in application.equipment.all %}
                <option value="{{ equip.id }}" selected>{{ equip.name }}</option>
                {% endfor %}
             </select>
        </div>
         <div class="ui error message"></div>
        <input type="submit" class="ui primary button" value="Сохранить">
    </form>
</div>
<script>
$(document).ready(function() {
var $form = $('.ui.form');
$.fn.form.settings.rules.isPresent = function(value, dateCompare) {
  if(moment(value, "DD-MM-YYYY H:mm").isBefore(moment(dateCompare,"x"))){
        return false;
    }else{
        return true;
    }
  }
$.fn.form.settings.rules.isEndToStart = function(value) {
  if(moment(value, "DD-MM-YYYY H:mm").isBefore(moment($form.form('get value', 'start'), "DD-MM-YYYY H:mm"))){
        return false;
    }else{
        return true;
    }
  }

$.fn.form.settings.rules.isStartToEnd = function(value) {
  if(moment(value, "DD-MM-YYYY H:mm").isAfter(moment($form.form('get value', 'end'), "DD-MM-YYYY H:mm"))){
        return false;
    }else{
        return true;
    }
  }
  $('.ui.form')
  .form({
    fields: {
      name: {
        identifier: 'name',
        rules: [
          {
            type   : 'empty',
            prompt : 'Пожалуйста, введите название заявки'
          }
        ]
      },
      description: {
        identifier: 'description',
        rules: [
          {
            type   : 'empty',
            prompt : 'Пожалуйста, введите описание заявки'
          }
        ]
      },
      author: {
        identifier: 'author',
        rules: [
          {
            type   : 'empty',
            prompt : 'Пожалуйста, выберите автора заявки'
          }
        ]
      },
      time_needed: {
      identifier: 'time_needed',
          rules: [{
            type: 'integer[1..10000]',
            prompt : 'Пожалуйста, введите необходимое количество часов'
          }]
    },
     start: {
      identifier: 'start',
          rules: [{
            type: 'empty',
            prompt : 'Пожалуйста, введите дату начала'
          },
          {
            type: 'isPresent['+moment()+']',
            prompt : 'Пожалуйста, не вводите прошедшее время'
          },
          {
            type: 'isStartToEnd[]',
            prompt : 'Пожалуйста, не вводите дату позже даты конца'
          }]
    },
     end: {
      identifier: 'end',
          rules: [{
            type: 'empty',
            prompt : 'Пожалуйста, введите дату окончания'
          },
          {
            type: 'isPresent['+moment()+']',
            prompt : 'Пожалуйста, не вводите прошедшее время'
          },
          {
            type: 'isEndToStart[]',
            prompt : 'Пожалуйста, не вводите дату раньше даты начала'
          }]
    },
      organizations: {
        identifier: 'organizations',
        rules: [
          {
            type   : 'empty',
            prompt : 'Пожалуйста, выберите одну или несколько организаций'
          }
        ]
      },
      approaches: {
        identifier: 'approaches',
        rules: [
          {
            type   : 'empty',
            prompt : 'Пожалуйста, выберите одну или несколько методик'
          }
        ]
      },
      station: {
        identifier: 'station',
        rules: [
          {
            type   : 'empty',
            prompt : 'Пожалуйста, выберите одну или несколько станций'
          }
        ]
      },
      participants: {
        identifier: 'participants',
        rules: [
          {
            type   : 'empty',
            prompt : 'Пожалуйста, выберите одного или несколько участников'
          }
        ]
      },
      equipment: {
        identifier: 'equipment',
        rules: [
          {
            type   : 'empty',
            prompt : 'Пожалуйста, выберите оборудование'
          }
        ]
      }
    },
    inline: true,
    on: 'blur'
  })
;
});
</script>
{% endblock %}