{% extends 'layout.html' %}
{% block content %}
<a href="{% url 'application_edit' application.serial %}" class="ui button right floated ">Редактировать</a>
<h1 class="ui header divided">{{ application.name }} (#{{ application.serial }})</h1>


<a class="ui teal tag label">{{ application.complete_status.name }}</a>
<a class="ui teal tag label">{{ application.stage_status.name }}</a>


<div class="ui items">
    <div class="item">
        <div class="content">
            <div class="header">Автор</div>
            <div class="description">{{ application.author.name }}</div>
        </div>
    </div>
     <div class="item">
        <div class="content">
            <div class="header">Станция</div>
            <div class="description">{{ application.station.name }}</div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="header">Организации</div>
            <div class="description">
                 <div class="ui list">
                    {% for organization in application.organizations.all %}
                        <div class="ui item">{{ organization.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="header">Время</div>
            <div class="description">
                Времени требуется: {{ application.time_needed }} ч.<br>
                {{ application.start }} - {{ application.end }}
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="header">Методики</div>
            <div class="description">
                 <div class="ui list">
                    {% for approach in application.approaches.all %}
                        <div class="ui item">{{ approach.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="header">Участники</div>
            <div class="description">
                 <div class="ui list">
                    {% for participant in application.participants.all %}
                        <div class="ui item">{{ participant.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="header">Вспомогательное оборудование</div>
            <div class="description">
                 <div class="ui list">
                    {% for equipment in application.equipment.all %}
                        <div class="ui item">{{ equipment.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if application.description %}
<div class="ui segment">
    <p>{{ application.description }}</p>
</div>
{% endif %}

<h4 class="ui header divided">Комментарии</h4>
<div class="ui comments">
    {% if application.comments.all %}
    {% for comment in application.comments.all %}
     <div class="ui comment">
        <div class="content">
            <a class="author">{{ comment.author.name }}</a>
            <div class="metadata">
                <span class="date">{{ comment.created }}</span>
            </div>
            <div class="text">{{ comment.text }}</div>
        </div>
     </div>
    {% endfor %}
    {% else %}
    <p>Пока комментариев нет</p>
    {% endif %}
    <form action="{% url 'comment_from_application' application.pk %}" method="post" class="ui form">
        {% csrf_token %}
    <div class="field">
        <label>Комментарий</label>
        <textarea name="description"></textarea>
    </div>
   <input type="submit" class="ui primary button" value="Добавить" name = "Comment">
   <input type="submit" class="ui primary button" value="Вернуть с комментарием" name = "Return">
    </form>
</div>
{% endblock %}