{% extends 'layout.html' %}
{% block content %}
<h1 class="ui dividing header">Мои заявки</h1>

<div class="ui buttons">
    <button class="ui active button">Мои заявки</button>
    <button class="ui button">С моим участием</button>
    {% if request.user.is_staff %}
    <button class="ui button">На рассмотрении</button>
    <button class="ui button">Формируются</button>
    <button class="ui button">Выполненные</button>
    <button class="ui button">Завершенные</button>
    {% endif %}
</div>

{% include 'include/applications_list.html' %}
{% endblock %}