{% extends 'layout.html' %}
{% block content %}
<h1 class="ui dividing header">Мои заявки</h1>


<div class="ui basic segment">
    <div class="ui left rail">
        <h3 class="ui header">Фильтр</h3>
        <div class="ui list">
            <a>Мои заявки</a>
            <a>С моим участием</a>
            {% if request.user.is_staff %}
            <a>На рассмотрении</a>
            <a >Формируются</a>
            <a>Выполненные</a>
            <a>Завершенные</a>
            {% endif %}
        </div>
    </div>
    {% include 'include/applications_list.html' %}
</div>
{% endblock %}