{% extends 'layout.html' %}
{% block content %}
<h1 class="ui dividing header">Заявки</h1>
<div id="modaldiv" class="ui modal">
  {% include 'include/modal.html' %}
</div>
<div class="ui grid">
    {% if request.user.is_staff %}
      <div class="ui two wide column">
        <h3 class="ui header">Фильтр</h3>
        <div class="ui list">
            <a href="{%url 'applications'%}?filter=all" class="ui item {% if filtered == 'all' %}selected{%endif%}">Все</a>
            <a href="{%url 'applications'%}?filter=consideration" class="ui item {% if filtered == 'consideration'%}selected{%endif%}">На рассмотрении</a>
            <a href="{%url 'applications'%}?filter=accepted" class="ui item {% if filtered == 'accepted'%}selected{%endif%}">Заявка принята</a>
            <a href="{%url 'applications'%}?filter=returned" class="ui item {% if filtered == 'returned'%}selected{%endif%}">Возвращена с комментариями</a>
            <a href="{%url 'applications'%}?filter=disapproved" class="ui item {% if filtered == 'disapproved'%}selected{%endif%}">Заявка отклонена</a>
            <a href="{%url 'applications'%}?filter=finished" class="ui item {% if filtered == 'finished'%}selected{%endif%}">Завершенные</a>
        </div>
    </div>
    {% endif %}
    <div class="ui fourteen wide column">
        <div class="ui tabular menu">
            <a class="item active" onclick="all_applications();">
                Все заявки
            </a>
            <a class="item" onclick="my_applications();">
                Мои заявки
            </a>
            <a class="item" onclick="part_applications();">
                С моим участием
            </a>
        </div>
        <div id="applications">
            {% include 'include/applications_list.html' %}
        </div>
    </div>
</div>

<script type="text/javascript">
function load_table(path) {
    $('#applications').empty();
    $('#applications').load(path, function() {
        $('#applications table').DataTable({
            language: dataTablesLanguage,
            "order": [[ 2, "desc" ]]
        });
    });
};

function all_applications() {
    load_table('/applications_table?all=1&filter={{filtered}}');
};

function my_applications() {
    load_table('/applications_table?my=1&filter={{filtered}}');
};

function part_applications() {
    load_table('/applications_table?part=1&filter={{filtered}}');
};

function approve(id) {
    $('#application-row-' + id).empty();
    $('#application-row-' + id).load('/application_row/'+id);
};

function disapprove(id) {
    $('#application-row-' + id).empty();
    $('#application-row-' + id).load('/application_row_disapprove/'+id);
};

$( document ).ready(function() {
    load_table('/applications_table?all=1&filter={{filtered}}');
    $('.dropdown').dropdown();
});

function showComment(id) {
    $('#modaldiv').empty();
    $('#modaldiv').load('/modal_show/'+id);
    $('#modaldiv').modal('show');
};

$('.ui .item').on('click', function() {
     $('.ui .item').removeClass('active');
     $(this).addClass('active');
  });
</script>
{% endblock %}