{% extends 'layout.html' %}
{% block content %}
{{errors}}
<div class="ui text container">
    <form action="" method="post" class="ui form">
        {% csrf_token %}
        <h4 class="ui dividing header">{% if application %}Редактирование заявки{% else %}Новая заявка{% endif %}</h4>
        <div class="field">
            <label>Название</label>
            <input type="text" name="name" {% if application %}value="{{ application.name }}"{% endif %}>
        </div>

        <div class="field">
            <label for="description">Описание</label>
            <textarea name="description">{% if application %}{{ application.description }}{% endif %}</textarea>
        </div>

        <div class="field">
            <label for="author">Автор</label>
            <select name="author" class="ui search dropdown" data-api-action="search users">
                {% if application %}<option value="{{ application.author.id }}" selected>{{ application.author.name }}</option>{% endif %}
            </select>
        </div>

        <div class="field">
            <div class="three fields">
                <div class="field">
                    <label for="time_needed">Необходимое время (часов)</label>
                    <input type="text" name="time_needed">
                </div>
                <div class="field">
                    <label for="date_start">Дата начала</label>
                    <div class="ui input left icon datetime">
                        <i class="calendar icon"></i>
                        <input type="text" name="start" placeholder="Дата и время начала" value="{{ application.start|date:'c' }}"/>
                    </div>
                </div>
                <div class="field">
                    <label for="date_start">Дата конца</label>
                    <div class="ui input left icon datetime">
                        <i class="calendar icon"></i>
                        <input type="text" name="end" value="{{ application.end|date:'c' }}" placeholder="Дата и время конца">
                    </div>
                </div>
            </div>
        </div>


        <div class="field">
            <label>Организации</label>
            <select name="organizations" class="ui fluid search dropdown" multiple="" data-api-action="search organizations">
                {% for organization in application.organizations.all %}
                    <option value="{{ organization.id }}" selected>{{ organization.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="field">
            <label>Методики</label>
            <select name="approaches" class="ui fluid search dropdown" multiple="" data-api-action="search approaches">
                {% for approach in application.approaches.all %}
                    <option value="{{ approach.id }}" selected>{{ approach.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="field">
            <label>Станции</label>
             <select name="station" class="ui fluid search dropdown" data-api-action="search stations">
                {% if application.station %}
                 <option value="{{ application.station.id }}" selected>{{ application.station.name }}</option>
                {% endif %}
            </select>
        </div>

        <div class="field">
            <label>Участники</label>
             <select  name="participants" class="ui fluid search dropdown" multiple="" data-api-action="search users">
                 {% for participant in application.participants.all %}
                 <option value="{{ participant.id }}" selected>{{ participant.name }}</option>
                 {% endfor %}
             </select>
        </div>

        <div class="field">
            <label>Вспомогательное оборудование</label>
             <select name="equipment" class="ui fluid search dropdown" multiple="" data-api-action="search equipment">
                {% for equip in application.equipment %}
                <option value="{{ equip.id }}" selected>{{ equip.name }}</option>
                {% endfor %}
             </select>
        </div>

        <input type="submit" class="ui primary button" value="Сохранить">
    </form>
</div>

<script type="text/javascript">
    $('.ui.dropdown').each(function(index) {
        var action = $(this).data('api-action');
        var multiple = $(this).attr('multiple');
        var allowAdd = multiple != undefined;
        console.log(allowAdd);

        $(this).dropdown({
            allowAdditions: allowAdd,
            useLabels: allowAdd,
            hideAdditions: false,
            fields: {
                name: 'name',
                value: 'id',
            },
            apiSettings : {
                action: action,
            }
        });
    });
    $('.datetime').calendar({ type: 'datetime', });
</script>
{% endblock %}