{% extends 'layout.html' %}
{% block content %}
<div class="ui text container">
    <form action="" method="post" class="ui form">
        {% csrf_token %}
        <div class="field">
            <label for="author">Заявка</label>
            <select  name="serial">
                <option disabled>Заявка</option>
                {% for application in applications %}
                    <option  {%if flag and planned_ex.application == application %}selected{%endif%}
                            value="{{application.serial}}">{{application.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label for="date_start">Дата начала</label>
                    <div class="ui input left icon datetime">
                     <i class="calendar icon"></i>
                    <input type="text" name="start" value="{{planned_ex.start|date:'d.m.Y H:i'}}">
                    </div>
                </div>
                <div class="field">
                    <label for="date_end">Дата окончания</label>
                    <div class="ui input left icon datetime">
                    <i class="calendar icon"></i>
                    <input type="text" name="end" value="{{ planned_ex.end|date:'d.m.Y H:i' }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="author">Оператор</label>
            <select  name="operator">
                <option disabled>Оператор</option>
                {% for user in users %}
                    <option {%if flag and planned_ex.author == user %}selected{%endif%}
                            value="{{user.name}}">{{user.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field">
            <label for="author">Методика</label>
            <select  name="approach">
                <option disabled>Методика</option>
                {% for method in methods %}
                    <option value="{{method.name}}">{{method.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field">
            <label for="description">Комментарий</label>
            <textarea name="comment"></textarea>
        </div>
        <div class="field">
            <label for="author">Станция</label>
            <select  name="station">
                <option disabled>Станция</option>
                {% for station in stations %}
                    <option {%if flag and planned_ex.station == station %}selected{%endif%}
                            value="{{station.name}}">{{station.name}}</option>
                {% endfor %}
            </select>
        </div>
         <div class="field">
            <label for="author">Запланированный эксперимент</label>
            <select  name="ex_plan">
                {% for planned_experiment in planned_experiments %}
                    <option {%if flag and planned_ex == planned_experiment %}selected{%endif%}
                            value="{{planned_experiment.pk}}">{{planned_experiment.start}}-{{planned_experiment.station}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" class="ui primary button" value="Сохранить">
    </form>
</div>

<script type="text/javascript">
$(document).ready(function() {
$('.dropdown').dropdown();
var $form = $('.ui.form');
$.fn.form.settings.rules.isPresent = function(value, dateCompare) {
  if(moment(value, "DD-MM-YYYY H:mm").isBefore(moment(dateCompare,"x"))){
        return false;
    }else{
        return true;
    }
  }
$.fn.form.settings.rules.isPast = function(value, dateCompare) {
    return !$.fn.form.settings.rules.isPresent(value, dateCompare);
  }
$.fn.form.settings.rules.isEndToStart = function(value) {
  if(moment(value, "DD-MM-YYYY H:mm").isBefore(moment($form.form('get value', 'start'), "DD-MM-YYYY H:mm"))){
        return false;
    }else{
        return true;
    }
  }

$.fn.form.settings.rules.isStartToEnd = function(value) {
  if(moment(value, "DD-MM-YYYY H:mm").isAfter(moment($form.form('get value', 'end'), "DD-MM-YYYY H:mm"))){
        return false;
    }else{
        return true;
    }
  }
  $('.ui.form')
  .form({
    fields: {
      serial: {
        identifier: 'serial',
        rules: [
          {
            type   : 'empty',
            prompt : 'Пожалуйста, введите название заявки'
          }
        ]
      },
     start: {
      identifier: 'start',
          rules: [{
            type: 'empty',
            prompt : 'Пожалуйста, введите дату начала'
          },
          {
            type: 'isPast['+moment()+']',
            prompt : 'Пожалуйста, не вводите будущее время'
          },
          {
            type: 'isStartToEnd[]',
            prompt : 'Пожалуйста, не вводите дату позже даты конца'
          }]
    },
     end: {
      identifier: 'end',
          rules: [{
            type: 'empty',
            prompt : 'Пожалуйста, введите дату окончания'
          },
          {
            type: 'isPast['+moment()+']',
            prompt : 'Пожалуйста, не вводите будущее время'
          },
          {
            type: 'isEndToStart[]',
            prompt : 'Пожалуйста, не вводите дату раньше даты начала'
          }]
    },
      operator: {
        identifier: 'operator',
        rules: [
          {
            type   : 'empty',
            prompt : 'Пожалуйста, введите оператора'
          }
        ]
      },
      approache: {
        identifier: 'approache',
        rules: [
          {
            type   : 'empty',
            prompt : 'Пожалуйста, выберите одну методику'
          }
        ]
      },
      comment: {
        identifier: 'comment',
        rules: [
          {
            type   : 'empty',
            prompt : 'Пожалуйста, напишите комментарий'
          }
        ]
      },
      station: {
        identifier: 'station',
        rules: [
          {
            type   : 'empty',
            prompt : 'Пожалуйста, выберите станцию'
          }
        ]
      }
    },
    inline: true,
    on: 'blur'
  })
;
});
</script>
{% endblock %}