{% extends 'layout.html' %}
{% block content %}
<div class="ui floating labeled icon dropdown button right floated">
      <i class="filter icon"></i>
      <span class="text">Фильтр по станциям</span>
      <div class="menu">
        <div class="header">Станции</div>
        <div class="ui left icon input">
            <i class="search icon"></i>
            <input type="text" name="search" placeholder="Поиск...">
        </div>
          <div class="item icon">
            <i class="ui icon cogs"></i>
            <a href="?station=All" >Все станции</a>
        </div>
        {% for station in stations %}
        <div class="item icon">
            <i class="ui icon cogs"></i>
            <a href="?station={{station.name}}" >{{ station.name }}</a>
        </div>
        {% endfor %}
      </div>
    </div>
<h1 class="ui dividing header">Журнал экспериментов</h1>

<h3 class="ui header">{{text}}</h3>
    <table class="ui celled striped table">
        <thead>
            <tr>
                <th class="single line">Дата</th>
                <th>Дата создания</th>
                <th>Заказчик</th>
                <th>Название</th>
                <th>Исполнитель</th>
                <th>Методика</th>
                <th data-order="false">Комментарий</th>
                <th>Станция</th>
            </tr>
        </thead>
        <tbody>
        {% for experiment in experiments reversed %}
            <tr>
                <td data-order="{{ experiment.start|date:'U' }}">
                     {{ experiment.start }} - {{ experiment.end }}
                </td>
                 <td data-order="{{ experiment.created|date:'U' }}">
                     {{ experiment.created }}
                </td>
                <td>
                    <a href="{% url 'user' experiment.application.author.pk %}">{{ experiment.application.author.name }}</a>
                </td>
                <td>
                   <a href="{% url 'application' experiment.application.serial %}">{{ experiment.application.name }}</a>
                </td>
                <td>
                    <a href="{% url 'user' experiment.operator.pk %}">{{ experiment.operator.name }}</a>
                </td>
                <td>
                     {{experiment.methods}}
                </td>
                <td>
                     {{experiment.comment}}
                </td>
                <td>
                     <a href="{% url 'station' experiment.station.pk %}">{{ experiment.station.name }}</a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>




<script type="text/javascript">
   $( document ).ready(function() {
 $('.table').DataTable({
            language: dataTablesLanguage,
            "order": [[ 1, "desc" ]]
        });
 $('.dropdown').dropdown();

 });
</script>
{% endblock %}

