<html>
    <head>
        <title>ККСНИ</title>
        {% include 'include/head.html' %}
        {% load static %}
    </head>
    <body>
        <div class="ui inverted menu">
            <div class="ui container">
                <a href="#" class="header item">
                    <img class="logo" src="{% static 'img/logo.gif' %}"> ККСНИ
                </a>
                <a href="{% url 'applications' %}" class="item">Заявки</a>
                <a href="{% url 'application_new' %}" class="item">Создать заявку</a>
                <a href="#" class="item">Эксперименты</a>
                <a href="#" class="item">Календари</a>
                <a href="#" class="item">Справочники</a>
                <div class="ui simple dropdown item">
                    Dropdown <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="#">Link Item</a>
                        <a class="item" href="#">Link Item</a>
                        <div class="divider"></div>
                        <div class="header">Header Item</div>
                        <div class="item">
                        <i class="dropdown icon"></i>
                        Sub Menu
                        <div class="menu">
                            <a class="item" href="#">Link Item</a>
                            <a class="item" href="#">Link Item</a>
                        </div>
                        </div>
                        <a class="item" href="#">Link Item</a>
                    </div>
                </div>
                <div class="right menu">
                    {% if request.user.is_authenticated %}
                    <div class="ui simple dropdown item">
                        {{ request.user.name }} <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="{% url 'logout' %}">Выход</a>
                        </div>
                    </div>
                    {% else %}
                    <a class="item" href="{% url 'login' %}">Вход</a>
                    {% endif %}
                </div>
            </div>
        </div>

      <div class="ui main container">
          {% block content %}
          {% endblock %}
      </div>
    </body>
</html>
