<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Вход</title>
    {% include 'include/head.html' %}

    <style type="text/css">
        body {
          background-color: #DADADA;
        }
        body > .grid {
          height: 100%;
        }
        .image {
          margin-top: -100px;
        }
        .column {
          max-width: 450px;
        }
    </style>
    <script>
    $(document).ready(function() {
        $('.ui.form').form({
            fields: {
                email: {
                    identifier : 'email',
                    rules: [
                        { type : 'empty', prompt : 'Пожалуйста, введите e-mail' },
                        { type : 'email', prompt : 'E-mail указан неправильно' }
                    ]
                },
                password: {
                    identifier : 'password',
                    rules: [
                        { type : 'empty', prompt : 'Укажите пароль' },
                        { type : 'length[5]', prompt : 'Пароль должен быть более 5 символов в длину' }
                    ]
                }
            }
        });
    });
    </script>
</head>
<body>
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h2 class="ui teal image header">
          <img src="{% static 'img/logo.gif' %}" class="image">
          <div class="content">Вход в учетную запись</div>
        </h2>
        <form class="ui large form" method="post">
            {% csrf_token %}
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="email" placeholder="E-mail">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Пароль">
              </div>
            </div>
            <div class="ui fluid large teal submit button">Вход</div>
          </div>

          <div class="ui error message"></div>

        </form>

        <div class="ui message">
          Нет учетной записи? <a href="#">Регистрация</a>
        </div>
      </div>
    </div>

</body>
</html>
