{% extends 'layout.html' %}
{% block content %}
<div class="ui text container">
    <div class="ui floating labeled icon dropdown button right floated">
      <i class="filter icon"></i>
      <span class="text">Фильтр по станциям</span>
      <div class="menu">
        <div class="header">Станции</div>
        <div class="ui left icon input">
            <i class="search icon"></i>
            <input type="text" name="search" placeholder="Поиск...">
        </div>
        {% for station in stations %}
        <div class="item icon">
            <i class="ui icon cogs"></i>
            <a href="?station={{station.name}}" >{{ station.name }}</a>
        </div>
        {% endfor %}
      </div>
    </div>


    <h1 class="ui dividing header">Планирование экспериментов</h1>


    <h3 class="ui header">{{text}}</h3>
    <table class="ui celled striped table" id="table">
        <thead>
            <tr>
                <th>Старт</th>
                <th>Окончание</th>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
        {% for planned_experiment in planned_experiments %}
            <tr>
                <td>
                    {{planned_experiment.start}}
                </td>
                <td>
                     {{planned_experiment.end}}
                </td>
                <td>
                   <a href="{% url 'application' planned_experiment.application.serial %}">{{ planned_experiment.application.name }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
     <h3 class="ui header">Запланировать новый эксперимент</h3>
     <form action="" method="post" class="ui form">
    {% csrf_token %}
        <div class="field">
            <label for="application">Заявка</label>
            <select name="serial" class="ui dropdown">
                <option disabled>Заявка</option>
                {% for application in applications reversed%}
                    <option {%if selected_app == application %}selected{%endif%} value="{{application.serial}}">{{application.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field">
            <label for="date_start">Дата начала</label>
            <div class="ui input left icon datetime">
                <i class="calendar icon"></i>
                <input type="text" name="start">
            </div>
        </div>
        <div class="field">
            <label for="date_end">Дата окончания</label>
            <div class="ui input left icon datetime">
                <i class="calendar icon"></i>
                <input type="text" name="end">
            </div>
        </div>
        <input type="submit" class="ui primary button" value="Запланировать">
     </form>

    <script type="text/javascript">
        $('.dropdown').dropdown();
        $('.datetime').calendar({ type: 'datetime', });
         $('#table').DataTable({
            language: dataTablesLanguage,
        });
    </script>
</div>
{% endblock %}

