{% extends 'layout.html' %}
{% block content %}
<h1 class="ui header divided">{{ station.name }}</h1>

<div class="ui items">
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="first">Сотрудники</a>
      <a class="item" data-tab="second">Заявки</a>
      <a class="item" data-tab="third">Запланированные эксперименты</a>
      <a class="item" data-tab="fourth">Завершенные эксперименты</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        <div class="ui list">
                    {% for user in station.users.all %}
                        <div class="ui item">
                            <a href="{% url 'user' user.pk %}">{{ user.name }}</a> - {{user.role.name}}
                        </div>
                    {% endfor %}
                </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        <table class="ui celled striped table">
        <thead>
            <tr>
                <th class="single line">Номер</th>
                <th>Дата создания</th>
                <th>Организация</th>
                <th>Заказчик</th>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
        {% for application in station.applications.all %}
            <tr>
                <td>
                     <a href="{% url 'application' application.serial %}">{{ application.serial }}</a>
                </td>
                  <td data-order="{{ application.created|date:'U' }}">
                    {{application.created}}
                </td>
                <td>
                    <div class="ui list">
                    {% for organization in application.organizations.all %}
                        <div class="item"><a href="{% url 'organization' organization.pk %}">{{ organization.name }}</a></div>
                    {% endfor %}
                    </div>
                </td>
                <td>
                    <a href="{% url 'user' application.author.pk %}">{{ application.author.name }}</a>
                </td>
                <td>
                   <a href="{% url 'application' application.serial %}">{{ application.name }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
         <table class="ui celled striped table">
        <thead>
            <tr>
                <th class="single line">Автор</th>
                 <th>Дата создания</th>
                <th>Заявка</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
        {% for planning_experiment in station.planning_experiments.all %}
            <tr>
                <td>
                    <a href="{% url 'user' planning_experiment.author.pk %}">{{ planning_experiment.author.name }}</a>
                </td>
                 <td data-order="{{planning_experiment.created|date:'U' }}">
                    {{planning_experiment.created}}
                </td>
                <td>
                    <a href="{% url 'application' planning_experiment.application.serial %}">{{ planning_experiment.application.name }}</a>
                </td>
                <td data-order="{{planning_experiment.start|date:'U' }}">
                   {{planning_experiment.start}}
                </td>
                <td data-order="{{planning_experiment.end|date:'U' }}">
                   {{planning_experiment.end}}
                </td>
                <td>
                    {{planning_experiment.status}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
     <div class="ui bottom attached tab segment" data-tab="fourth">

         <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th class="single line">Дата начала</th>
                         <th class="single line">Дата конца</th>
                        <th>Заказчик</th>
                        <th>Название</th>
                        <th>Исполнитель</th>
                        <th>Методика</th>
                        <th data-order="false">Комментарий</th>
                    </tr>
                </thead>
                <tbody>
                {% for experiment in station.experiments.all reversed %}
                    <tr>
                        <td data-order="{{ experiment.start|date:'U' }}">
                             {{ experiment.start }}
                        </td>
                        <td data-order="{{ experiment.start|date:'U' }}">
                             {{ experiment.end }}
                        </td>
                        <td>
                            <a href="{% url 'user' experiment.application.author.pk %}">{{ experiment.application.author.name }}</a>
                        </td>
                        <td>
                           <a href="{% url 'application' experiment.application.serial %}">{{ experiment.application.name }}</a>
                        </td>
                        <td>
                            <a href="{% url 'user' experiment.operator.pk %}">{{ experiment.operator.name }}</a>
                        </td>
                        <td>
                             {{experiment.methods}}
                        </td>
                        <td>
                             {{experiment.comment}}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
     </div>
</div>





<script type="text/javascript">
$('.menu .item')
  .tab()
;
$('table').DataTable({
            language: dataTablesLanguage,
        });
</script>
{% endblock %}
